.Container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
}

.Card {
    width: 100%;
    max-width: 772px;
    height: 100%;
    position: relative;
    padding: 24px 32px;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    /* box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15); */
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.Card img {
    width: 38%;
}

.Text {
    margin-top: 48px;
    font-size: 20px;
    line-height: 1.63;
    text-align: center;
    max-height: 128px;
    overflow: auto;
}

.Button {
    margin-top: 48px;
    width: 128px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* background-image: linear-gradient(113deg, #2484FD 4%, #00B4FF 14%, #767BF3 53%, #FA42AB 65%, #FB6B9D 87%, #FD978D 100%); */
}

@media (min-width: 700px) {
    .Container {
        padding: 56px 16px;
    }
}