.Column {
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.Emotion {
    width: 92px;
    height: 32px;
    border-radius: 4px;
    margin-top: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Emoji {
    width: 60px;
    height: auto;
}

.Emoji img {
    width: 100%;
}

.Column:hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}