.Column {
    width: 92px;
    height: auto;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.Emotion {
    margin-top: 8px;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Emoji {
    width: 48px;
    height: auto;
}

.Emoji img {
    width: 100%;
}

.Column:hover {
    cursor: pointer;
}