.Card {
    width: 45%;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 96px;
    box-sizing: border-box;
}

.Card h3 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: var(--text-darker);
    line-height: 1.63;
}

.Card button {
    margin-top: 32px;
    height: 40px;
    padding: 0px 16px;
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 24px;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.Card button:hover {
    box-shadow: 0 4px 8px 0 rgba(35, 47, 52, 0.1), 0 6px 20px 0 rgba(35, 47, 52, 0.1);
}