.Modal {
    position: absolute;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.EvaluationCard {
    position: absolute;
    top: 25%;
    width: 400px;
    height: 250px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    z-index: 15;
    text-align: center;
    font-size: 18px;
    line-height: 1.63;
}

.Evaluate {
    margin-top: 80px;
}

@media (min-width: 700px) {
    .Evaluate {
        margin-top: 0px;
        padding-top: 16px;
    }
}