.Square {
    margin: 0px 10px 0px 0px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
  }
  
  .Text {
    display: inline-block;
    font-size: 14px;
    margin-right: 8px;
  }

  .GuideContainer {
    width: auto;
    display: inline-block;
    margin: 8px;
  }