.Description {
    width: 100%;
    padding: 56px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 1028px;
    height: auto;
    padding: 0px 16px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.DescriptionText {
    width: 450px;
    height: auto;
    color: var(--text-darker);
}

.Description img {
    width: 100%;
    height: auto;
    max-height: auto;
    max-width: 350px;
}

.Description h1 {
    font-size: 48px;
}

.Description p {
    font-size: 18px;
    line-height: 1.63;
    color: var(--text-dark);
}

.ButtonSection {
    margin: 48px 0px;
}

.Record {
    height: 40px;
    width: 128px;
    margin: 0px;
    font-size: 15px;
    border-radius: 24px;
    border: 2px solid var(--logo-red);
    color: white;
    background-color: var(--logo-red);
    box-sizing: border-box;
    font-weight: bold;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.Evaluate {
    height: 40px;
    width: 128px;
    margin: 0px 48px;
    font-size: 15px;
    border-radius: 24px;
    border: 2px solid var(--logo-violet);
    color: white;
    background-color: var(--logo-violet);
    box-sizing: border-box;
    font-weight: bold;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.Record:hover {
    color: var(--logo-red);
    background-color: white;
}

.Evaluate:hover {
    color: var(--logo-violet);
    background-color: white;
}

@media (max-width: 900px) {
    .Container {
        flex-flow: column;
    }

    .DescriptionText {
        width: 90%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }
}