.CurrentDatabase {
    width: 100%;
    padding: 24px 0px 0px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 100%;
    max-width: 1028px;
    height: auto;
    padding: 0px 16px;
    margin: 48px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.ContainerReverse {
    width: 100%;
    max-width: 1028px;
    height: auto;
    padding: 0px 16px;
    margin: 48px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.Container img {
    padding: 0px 16px;
    width: 210px;
}

.ContainerReverse img {
    padding: 0px 16px;
    width: 210px;
}

.Card {
    width: 100%;
    max-width: 900px;
    height: auto;
    height: 300px;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px 5px rgba(25,25,25,0.05);
}

.TextRight {
    width: 100%;
    max-width: 500px;
    margin: 24px 0px 0px;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-darker);
    line-height: 1.63;
    text-align: center;
}

.TextLeft {
    width: 100%;
    max-width: 500px;
    margin: 24px 0px 0px;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-darker);
    line-height: 1.63;
    text-align: center;
}

@media (min-width: 600px) {

    .CurrentDatabase {
        padding: 92px 0px 32px;
    }

    .Container {
        flex-flow: row;
    }

    .ContainerReverse {
        flex-flow: row-reverse;
    }

    .TextRight {
        margin: 0;
        text-align: right;
    }

    .TextLeft {
        margin: 0;
        text-align: left;
    }


}

@media (min-width: 775px) {

    .Container img {
        padding: 0px 64px;
        width: 210px;
    }
    
    .ContainerReverse img {
        padding: 0px 64px;
        width: 210px;
    }

}