.Toolbar {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.10);*/
}

.Container {
    width: 100%;
    max-width: 1028px;
    height: 100%;
    padding: 0px 32px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
    width: auto;
}

.LinksAndLogin {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}

.Toolbar span {
    color: var(--text-dark);
}

@media (max-width: 1027px) {
    .DesktopOnly {
        display: none;
    }
}
