.ActionImages {
    width: 100%;
    /* To position them beneath each other */
    padding: 0px 0px;
    margin: auto;
    box-sizing: border-box;
}

.ActionImages img {
    width: 50%;
    height: 512px;
}

.ActionImages img:hover {
    opacity: 0.8;
}