.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    /* z-index is 100 compared to SideDrawer's z-index of 200 because we want the Backdrop
    to be in front of everything else except for the SideDrawer. */
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}