.EvaluationButtons {
    width: 100%;
    max-width: 1028px;
    height: 140px;
    margin: auto;
    margin-top: 8px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.EmotionExpressed {
    width: 100%;
    max-width: 512px;
    height: 100%;
    padding: 0px 8px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.Emotions {
    margin: 24px 0px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.ShowEmotion {
    display: none;
}

.AudioQuality {
    width: 100%;
    max-width: 256px;
    height: 88px;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.Bad {
    width: 32%;
    height: 100%;
    max-width: 85px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.Bad:hover {
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
}

.Good {
    width: 32%;
    height: 100%;
    max-width: 85px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.Good:hover {
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
}

.Perfect {
    width: 32%;
    height: 100%;
    max-width: 85px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.Perfect:hover {
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
}

.DivLine {
    width: 1px;
    height: 80%;
    background-color: rgba(0,0,0,0.15);
}

@media (min-width: 800px) {

    .EvaluationButtons {
        margin-top: 40px;
    }

    .Container {
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .EmotionExpressed {
        width: 512px;
        padding: 0px 24px;
    }

    .Emotions {
        margin: 0;
        padding: 8px 24px;
    }

    .Emotions:hover ~ .ShowEmotion {
        color: var(--text-darker);
    }

    .ShowEmotion {
        display: block;
        background-color: transparent;
        color: transparent;
        width: auto;
        height: 32px;
    }
}