.EvaluationButtons {
    width: 1028px;
    height: 140px;
    margin: auto;
    margin-top: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.EmotionExpressed {
    width: 512px;
    height: 100%;
    padding: 0px 24px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.Emotions {
    width: 512px;
    height: 88px;
    padding: 8px 24px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.Emotions:hover ~ .ShowEmotion {
    color: var(--text-darker);
}

.ShowEmotion {
    background-color: transparent;
    color: transparent;
    width: auto;
    height: 32px;
}

.AudioQuality {
    width: 100%;
    max-width: 256px;
    height: 88px;
    padding: 8px;
    /*box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
    border-radius: 12px;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;

}

.Bad {
    width: 32%;
    height: 100%;
    max-width: 85px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.Bad:hover {
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
}

.Good {
    width: 32%;
    height: 100%;
    max-width: 85px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.Good:hover {
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
}

.Perfect {
    width: 32%;
    height: 100%;
    max-width: 85px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.Perfect:hover {
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.15);
}

.DivLine {
    width: 1px;
    height: 80%;
    background-color: rgba(0,0,0,0.15);
}