.Content {
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.Uploading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.Record {
    padding-top: 16px;
}