.Options {
    margin-top: 40px;
    padding: 0px 32px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Play {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid var(--bluer);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 5px rgba(23, 98, 160, 0.1);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.Play:hover {
    border: 1.4px solid var(--bluer);
    box-shadow: 0 2px 6px 5px rgba(23, 98, 160, 0.3);
}

.Signal {
    display: none;
}

.NullLine {
    width: 100%;
    height: 1px;
    background-color: black;
}

.Done {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid var(--greener);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 5px rgba(37, 84, 83, 0.1);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.Done:hover {
    border: 1.4px solid var(--greener);
    box-shadow: 0 2px 6px 5px rgba(37, 84, 83, 0.3);
}

@media (min-width: 700px) {

    .Options {
        padding: 0px 8px;
    }

    .Signal {
        display: block;
        width: 512px;
        height: 72px;
        border: none;
        background-color: transparent;
    }

}


@media (min-width: 1030px) {

    .Options {
        padding: 0px 190px;
        justify-content: space-evenly;
        align-items: center;
    }
}