.Box {
    margin-top: 8px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Listen {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 1px solid var(--logo-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 5px rgba(140, 147, 216, 0.1);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.Emotion {
    height: 72px;
    width: 128px;
    padding: 0px 16px;
    margin: 24px 80px 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-dark);
    border-radius: 4px;
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.08);
}

.Review {
    height: 72px;
    width: 128px;
    padding: 0px 16px;
    margin: 24px 0px 24px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-dark);
    border-radius: 4px;
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.08);
}

.Done {
    position: absolute;
    right: 10%;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 1px solid var(--greener);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px 5px rgba(37, 84, 83, 0.1);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.Listen:hover {
    border: 1.4px solid var(--logo-violet);
    box-shadow: 0 2px 6px 5px rgba(140, 147, 216, 0.3);
}