.HamburgerBtn {
    width: 44px;
    height: 44px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid var(--text-lighter);
    border-radius: 4px;
}

.HamburgerBtn div {
    width: 90%;
    height: 3px;
    background-color: var(--text-dark);
}

@media (min-width: 1028px) {
    .HamburgerBtn {
        display: none;
    }
}