.Ball {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ball img {
    width: 40px;
    animation: bigger 0.8s ease 0s 1 normal;
}

@keyframes bigger {
    0% {width: 0px;}
    50% {width: 64px;}
    100% {width: 40px;}
}