.Ball {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ball img {
    width: 40px;
}